@tailwind base;
@tailwind components;
@tailwind utilities;

.text-muted {
  color: #6c757d;
}
.videosection {
  /* background-color: rgb(70, 70, 70); */
  height: 270px;
}

.videosection video {
  position: absolute;
}

.videosection canvas {
  position: absolute;
  transform: rotateY(180deg);
}
